[run]
plugins = Cython.Coverage
[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
omit =
    *test*
    */scipy/*
    */numpy/*
    */sklearn/*
    *stringsource*
    */Python/*
    */python/*
    */site-packages/nose/*
    */matplotlib/*
    *__init__*
show_missing = True