include cgal4py/delaunay/delaunay2.pyx
include cgal4py/delaunay/delaunay3.pyx
include cgal4py/delaunay/delaunayD.pyx
include cgal4py/delaunay/periodic_delaunay2.pyx
include cgal4py/delaunay/periodic_delaunay3.pyx
include cgal4py/delaunay/parallel_delaunayD.pyx
include cgal4py/delaunay/delaunay2.pxd
include cgal4py/delaunay/delaunay3.pxd
include cgal4py/delaunay/delaunayD.pxd
include cgal4py/delaunay/periodic_delaunay2.pxd
include cgal4py/delaunay/periodic_delaunay3.pxd
include cgal4py/delaunay/parallel_delaunayD.pxd
include cgal4py/delaunay/c_delaunay2.hpp
include cgal4py/delaunay/c_delaunay3.hpp
include cgal4py/delaunay/c_delaunayD.hpp
include cgal4py/delaunay/c_periodic_delaunay2.hpp
include cgal4py/delaunay/c_periodic_delaunay3.hpp
include cgal4py/delaunay/c_parallel_delaunayD.hpp
include cgal4py/delaunay/tools.pyx
include cgal4py/delaunay/tools.pxd
include cgal4py/delaunay/c_tools.hpp
